/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;} 
summary {
  padding:12px 24px ;
  color: white;
  display:block;
  cursor: pointer;
  position: relative;
}
summary:hover{
  background-color: #d5dadf7a;
}
li::marker{
  float: right;
}

summary:before { 
  color: transparent;
  background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
  content: "";
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

details[open] summary ~ *{ 
  -webkit-animation: sweep 0.7s ease-in-out; 
          animation: sweep 0.7s ease-in-out;
}

@-webkit-keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

