@font-face {
  font-family: 'Galien';
  src: url('Galien-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Galien';
  src: url('Galien-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Galien';
  src: url('Galien-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}